body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
  margin-top: 50px;
}
h3,
p {
  font-size: 1em;
}
h1 {
  margin-top: 75px;
}

/* début header/nav */

.logobooki {
  width: 75px;
  height: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #0065fc;
}
li {
  list-style-type: none;
}
#booki-right {
  word-spacing: 75px;
  float: right;
}
.filtres {
  font-weight: 700;
  border: 3px solid #f2f2f2;
  background-color: white;
  border-radius: 50px 50px 50px 50px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 50px;
  line-height: 75px;
}
span {
  font-weight: 700;
}
.fa-solid {
  color: #0065fc;
}
.results {
  margin-left: 25px;
  font-weight: 400;
}
#location-button {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}
.recherche {
  display: flex;
}
#desktop {
  font-size: 18px;
  color: white;
}
.actionbutton {
  background-color: #0065fc;
  padding: 15px;
  border-radius: 0px 15px 15px 0px;
  border-style: none;
}

/* fin header/nav */
/* début main */

.leftpictures {
  width: 250px;
  height: 125px;
  border-radius: 15px 15px 0px 0px;
}
#hebergements {
  margin-top: 25px;
  background-color: #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  width: 62%;
  height: 650px;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  float: left;
}
.hotel-gauche {
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
  border-spacing: 20px;
  width: 250px;
  height: 200px;
  box-shadow: 2px 2px 2.5px 0 rgba(0, 0, 0, 0.2);
  line-height: 1px;
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 25px;
}
.paddingleftpictures {
  padding-left: 15px;
  line-height: 3px;
}
.rightpictures {
  width: 150px;
  height: 135px;
  border-radius: 15px 0px 0px 15px;
}
.fa-chart-line {
  margin-left: 90px;
}
#lespluspopulaires {
  margin-top: 25px;
  background-color: #f2f2f2;
  border-radius: 25px 25px 25px 25px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25%;
  height: 650px;
  float: right;
}
.hotel-droite {
  background-color: white;
  border: 5px solid white;
  border-radius: 20px 20px 20px 20px;
  border-spacing: 20px;
  width: 325px;
  height: 135px;
  box-shadow: 2px 2px 2.5px 0 rgba(0, 0, 0, 0.2);
  line-height: 1px;
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 25px;
}
.paddingrightpictures {
  position: relative;
  bottom: 100px;
  left: 160px;
}
#activites {
  margin-top: 800px;
  clear: both;
}
.bothpictures {
  width: 300px;
  height: 400px;
  border-radius: 25px 15px 0px 0px;
}
.regions-activites {
  display: inline-block;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 2px 2.5px 0 rgba(0, 0, 0, 0.2);
  border-spacing: 20px;
  margin-right: 46px;
}
.paddingtittle {
  margin-left: 25px;
}

/* fin main */
/* début footer */

#footer {
  margin-top: 50px;
  padding-top: 50px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}
.testflex {
  padding-left: 0px;
}

/* fin footer */
